# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

# build output
**/out

# misc
.DS_Store

# debug
npm-debug.log*

# pack output
reps-*.tgz

